.root {
    -fx-background-color: linear-gradient(to bottom, #F2FDFF, #AEDDDD);
    -fx-font-family: "Leelawadee UI", sans-serif;
}

.titleOfPage {
    -fx-font-size: 20 !important;
    -fx-text-fill: #55959f !important;
    -fx-font-weight: bold !important;
}

.titleUserName {
    -fx-font-size: 26 !important;
    -fx-text-fill: #99E6F3 !important;
    -fx-font-weight: bold !important;
}

.label {
    -fx-text-fill: #5E6472;
    -fx-font-size: 10;
}

.button {
    -fx-background-color: #f69891;
    -fx-text-fill: #a5544f;
    -fx-font-size: 12 !important;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #99E6F3;
    -fx-text-fill: #679B9B;
}