.root {
    fx-font-size: 8;
}

.button {
    -fx-font-size: 10;
    -fx-padding: 4 8;
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 28; /* header height */
}

/*.table-view .table-row-cell {*/
/*    -fx-cell-size: 26;  !* row height *!*/
/*    !*-fx-background-color: #F2FDFF;*!*/
/*    -fx-background-color: transparent;*/
/*    -fx-border-color: transparent;*/
/*    -fx-text-fill: red;*/
/*}*/

.table-view .table-row-cell:odd {
    /*-fx-background-color: #baf1fa;*/
    -fx-background-color: #E4FBFF;
}

.table-view .table-row-cell:even {
    -fx-background-color: #F7FEFF;
}

.table-view, .table-cell {
    -fx-border-color: transparent transparent transparent #DBE4E6FF;
    -fx-text-fill: #272d39;
    -fx-padding: 4 8;
}


/* Header background */
.table-view .column-header {
    -fx-background-color: #99E6F3;
}

/* Header label (text styling) */
.table-view .column-header .label {
    -fx-text-fill: #272d39;
    -fx-font-weight: bold;
    -fx-alignment: CENTER; /* optional: center the text */
}

.table-view {
    -fx-font-size: 10;
    -fx-table-cell-border-color: transparent;
    /*-fx-background-color: #679B9B;*/
    -fx-background-color: #F2FDFF;
    -fx-text-fill: #272d39;
}

.titled-pane{
    -fx-background-insets: 35 0 0 0;
}

.titled-pane > .title {
    -fx-background-color: #AEDDDD;
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-start-margin: 8;
    -fx-margin: 4 8;
    /*-fx-text-fill: #5E6472;*/
}

.titled-pane > *.content {
    -fx-background-color: #E4FBFF; /* or your desired color E4FBFF*/
    -fx-padding: 4 8; /* optional, to add some spacing inside */
}


.table-view .table-row-cell:filled:selected {
    -fx-background-color: #FFF2F0;
    -fx-text-fill: #6C584C;
    /*-fx-text-fill: #5E6472;*/
    -fx-border-color: transparent;
}