/* login-style.css */

.root {
    -fx-background-color: linear-gradient(to bottom, #F2FDFF, #AEDDDD);
    -fx-font-family: "Leelawadee UI", sans-serif;
    -fx-font-size: 12pt;
}

.title {
    /*-fx-font-family: "Leelawadee UI", sans-serif;*/
    -fx-font-size: 26pt;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: #5E6472;
    -fx-font-size: 10pt;
}

#loginErrorLabel, #registerErrorLabel {
    -fx-text-fill: #BC3E32;
    /*-fx-font-style: ;*/
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size: 12pt;
}

#loginConfirmButton:hover, #accessRegisterButton:hover, #registerConfirmButton:hover {
    -fx-background-color: #99E6F3;
    -fx-text-fill: #679B9B;
    /*-fx-border-color: #679B9B;*/
    /*-fx-border-width: 1;*/
    /*-fx-font-color: #679B9B;*/
}

#loginConfirmButton, #registerConfirmButton {
    -fx-background-color: #FB8C83;
    -fx-text-fill: #FAF3DD;
    -fx-font-weight: bold;
    /*-fx-background-color: #F7C4C0;*/
    /*-fx-text-fill: #82312A;*/
    /*-fx-border-color: #82312A;*/
    /*-fx-border-width: 1;*/
    /*-fx-border-radius: 8;*/
    -fx-background-radius: 8;

    /*-fx-background-color: #F49F97;*/
}

#accessRegisterButton {
    -fx-background-color: #FCEBB4;
    -fx-text-fill: #82312A;
    /*#FAF3DD*/
    /*-fx-background-color: #FFFDF6;*/
    /*-fx-text-fill: #5E6472;*/
    /*-fx-border-color: #5E6472;*/
    /*#99E6F3*/
    /*-fx-background-color: #AEDDDD;*/
    /*-fx-text-fill: #5E6472;*/
    /*-fx-border-color: #5E6472;*/
    /*-fx-border-width: 1;*/
    /*-fx-border-radius: 8;*/
    -fx-background-radius: 8;
}

.text-field, .password-field {
    -fx-background-color: #FFFDF6;
    -fx-border-color: #5E6472;
    /*-fx-background-color: #F2FDFF;*/
    /*-fx-border-color: #5E6472;*/
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 5 10;
    -fx-font-size: 12px;
}

.button {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
}

.button:hover {
    -fx-background-color: #005A9E;
}
